@import './reset.css';

:root {
    --btn-primary: #4c3db2;
    --text-black: #1c2a39;
    --text-gray: #5c6a79;
    --swiper-pagination-color: #9e98dc;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-inactive-color: #efeef6;
    --swiper-pagination-bullet-inactive-opacity: 1;
}

body {
    color: var(--text-black);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}

body.modal-open {
    overflow: hidden;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn-primary {
    color: var(--btn-primary);
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid var(--btn-primary);
    height: 45px;
    width: 176px;
    padding: 0 10px;
    transition: all 200ms linear;
}

.btn-primary:hover {
    color: #fff;
    background: var(--btn-primary);
}

.main-swiper::part(pagination) {
    position: static;
}
